= form_for @aws_account do |f|
  - if @aws_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aws_account.errors.count, "error")} prohibited this aws_account from being saved:"
      %ul
        - @aws_account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :aws_access_key_id
    = f.text_field :aws_access_key_id
  .field
    = f.label :aws_secret_access_key
    = f.text_field :aws_secret_access_key
  .field
    = f.label :admin_password
    = f.text_field :admin_password
  .actions
    = f.submit 'Save', :class => 'btn btn-lg btn-primary'
